.left-sheet{
    float: left;
    align-items: flex-start;
    display:flexbox;
    flex-direction: row;
    text-align: start;
}

.right-sheet{
    float: right;
    flex-direction: row;
    align-items: flex-end;
    display: flexbox;
    text-align: right;
}